In [4]:
import pandas as pd
from sqlalchemy import create_engine

# --- 1. Baca dataset ---
file_path = "SQL - Retail Sales Analysis_utf .csv"
df = pd.read_csv(file_path)

# --- 2. Bersihkan nilai kosong ---
df = df.replace(r'^\s*$', None, regex=True)

# --- 3. Perbaiki nama kolom yang typo (jika ada) ---
df = df.rename(columns={
    'quantiy': 'quantity',
    'prirce_per_unit': 'price_per_unit'
})

# --- 4. Koneksi ke MySQL ---
# ganti user, password sesuai setting MySQL kamu
user = "root"
password = "1rvand!m20"   # ← ubah ke password MySQL kamu
host = "localhost"
database = "belajar_sql"

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# --- 5. Simpan ke MySQL ---
# otomatis membuat tabel "saless" jika belum ada
df.to_sql("saless", con=engine, if_exists="append", index=False)

print("✅ Data berhasil diimport ke tabel 'saless'")

✅ Data berhasil diimport ke tabel 'saless'

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   transactions_id  2000 non-null   int64
 1   sale_date        2000 non-null   object
 2   sale_time        2000 non-null   object
 3   customer_id      2000 non-null   int64
 4   gender           2000 non-null   object
 5   age              1990 non-null   float64
 6   category         2000 non-null   object
 7   quantity         1997 non-null   float64
 8   price_per_unit   1997 non-null   float64
 9   cogs             1997 non-null   float64
 10  total_sale       1997 non-null   float64
dtypes: float64(5), int64(2), object(4)
memory usage: 172.0+ KB